/* common */
body {
  background-color: #5B2386;
  height: 100vh;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

.text-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

[class^="btn"] {
  color: #5B2386;
  font-size: 2em;
  font-weight: 900;
  border: none;
  border-radius: 30px;
  padding: .7em 1.4em;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s;
  transition: .3s;
}

[class^="btn"]:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(252, 238, 33, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(252, 238, 33, 0.3);
}

.header {
  position: relative;
  margin: 10em 0 0;
}

.header .main-title {
  position: absolute;
  top: 115px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .main-title img {
  width: 564px;
}

.header .clock {
  border: 3px solid #734177;
  border-radius: 50%;
  position: relative;
  width: 255px;
  height: 255px;
  margin: 0 auto;
  z-index: -1;
}

.header .clock::before {
  border: 9px solid #734177;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  content: "";
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
  height: 270px;
}

.header .clock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #734177;
  -webkit-box-shadow: 2px 2px 8px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 7px rgba(0, 0, 0, 0.1);
  border-radius: 80%;
  z-index: 10;
}

.header .clock div {
  position: absolute;
  top: 48%;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.header .clock div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header .clock div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.header .clock div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .clock div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.header .clock div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.header .clock div::before, .header .clock div::after {
  content: "";
  background-color: #734177;
  border-radius: 30%;
  width: 10px;
  height: 10px;
}

.header .clock .hours,
.header .clock .minute,
.header .clock .seconds {
  position: absolute;
  background-color: #734177;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.header .clock .hours {
  top: 77px;
  left: 122px;
  width: 12px;
  height: 20%;
  z-index: 1;
  -webkit-animation: clock 300s linear infinite;
          animation: clock 300s linear infinite;
}

.header .clock .minute {
  top: 53px;
  left: 124px;
  width: 8px;
  height: 30%;
  z-index: 2;
  -webkit-animation: clock 140s linear infinite;
          animation: clock 140s linear infinite;
}

.header .clock .seconds {
  top: 25px;
  left: 125px;
  width: 5px;
  height: 40%;
  z-index: 3;
  -webkit-animation: clock 10s linear infinite;
          animation: clock 10s linear infinite;
}

@-webkit-keyframes clock {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clock {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.describe-container .subtitle-img {
  margin: 10em auto;
}

.describe-container .quote-container {
  position: relative;
  font-size: 1.7em;
  line-height: 28px;
  margin-bottom: 102px;
}

.describe-container .quote-container .describe {
  display: inline-block;
}

.describe-container .quote-container .describe strong {
  font-size: 2em;
  font-weight: bold;
}

.describe-container .quote-container::before, .describe-container .quote-container::after {
  content: "";
  display: inline-block;
  background-image: url(../img/text-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 40px;
}

.describe-container .quote-container::before {
  background-image: url(../img/text-left.png);
  margin-right: 1em;
}

.describe-container .quote-container::after {
  background-image: url(../img/text-right.png);
  margin-left: 1em;
}

.input-container label {
  display: block;
  font-size: 2.4em;
  line-height: 2.4em;
}

.input-container label input {
  padding: .8em 0;
  border-radius: 4px;
  border: none;
  text-align: center;
  vertical-align: 5px;
}

.input-container .btn-check {
  position: relative;
  background-color: #FCEE21;
  margin: 5em 0 8em;
}

.input-container .btn-check::after {
  position: absolute;
  top: 11px;
  right: -52px;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/click.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.result-container {
  margin-bottom: 12em;
}

.result-container .result {
  margin-bottom: 10em;
}

.result-container .result [class$="text"] {
  font-size: 2.4em;
  margin: .8em 0;
}

.result-container .result [class$="text"] strong {
  font-size: 2.6em;
  font-weight: 700;
  vertical-align: -13px;
}

.result-container .btn-go {
  background-color: #FCEE21;
}

.result-container [class^="btn"] {
  margin: .3em;
}

.footer {
  padding-bottom: 9em;
}

.footer img {
  margin-bottom: 2em;
}

.footer .copyright {
  font-size: 1.2em;
  line-height: 16px;
}

.modal-container {
  display: none;
}

@media (max-width: 700px) {
  body {
    font-size: 6px;
  }
  .header .main-title {
    top: 76px;
  }
  .header .main-title img {
    max-width: 290px;
  }
  .header .clock {
    width: 155px;
    height: 155px;
  }
  .header .clock::before {
    width: 170px;
    height: 170px;
  }
  .header .clock .hours {
    top: 47px;
    left: 71px;
  }
  .header .clock .minute {
    top: 31px;
    left: 74px;
  }
  .header .clock .seconds {
    top: 15px;
    left: 74px;
  }
  .input-container .btn-check {
    max-width: 225px;
    border-radius: 15px;
  }
  .result-container .result [class$="text"] strong {
    vertical-align: -9px;
  }
  .describe-container .subtitle-img {
    max-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */