/* common */
.text-hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

// color
$pupple: #5B2386;
$yellow: #FCEE21;

